<form role="form"
      class="mt-3"
      *ngIf="form"
      (ngSubmit)="onSubmit(form)">

    <div class="form-group row" *ngIf="form.get('brand'); let control">
        <label for="form-brand"
               class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'brand' | translate }}</label>
        <div class="col-sm-8">
            <input type="text"
                   class="form-control"
                   id="form-brand"
                   name="brand"
                   [formControl]="control"
                   appValidationIsInvalid
                   [control]="control"
                   [or]="alreadySubmitted">
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>
        </div>
    </div>

    <div class="form-group row" *ngIf="form.get('model'); let control">
        <label for="form-model"
               class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'model' | translate }}</label>
        <div class="col-sm-8">
            <input type="text"
                   class="form-control"
                   id="form-model"
                   name="model"
                   [formControl]="control"
                   appValidationIsInvalid
                   [control]="control"
                   [or]="alreadySubmitted">
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>
        </div>
    </div>

    <div class="form-group row" *ngIf="form.get('fuel'); let control">
        <label for="form-fuel"
               class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'fuel' | translate }}</label>
        <div class="col-sm-8">
            <select type="text"
                    class="form-control"
                    id="form-fuel"
                    name="fuel"
                    [formControl]="control"
                    appValidationIsInvalid
                    [control]="control"
                    [or]="alreadySubmitted">
                <option value="diesel">{{ 'enums.fuel.diesel' | translate }}</option>
                <option value="petrol">{{ 'enums.fuel.petrol' | translate }}</option>
                <option value="hybrid">{{ 'enums.fuel.hybrid' | translate }}</option>
            </select>
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>
        </div>
    </div>

    <div class="form-group row" *ngIf="form.get('power'); let control">
        <label for="form-power"
               class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'power' | translate }}</label>
        <div class="col-sm-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ detailI18NPrefix + 'kW' | translate }}</span>
                </div>
                <input type="text"
                       class="form-control"
                       id="form-power"
                       name="power"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted">
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
        </div>
    </div>

    <div class="form-group row" *ngIf="form.get('description'); let control">
        <label for="form-description"
               class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'description' | translate }}</label>
        <div class="col-sm-8">
            <textarea type="text"
                      class="form-control"
                      id="form-description"
                      name="description"
                      [formControl]="control"></textarea>
        </div>
    </div>

    <div class="alert alert-danger"
         role="alert"
         [innerHTML]="i18NPrefix + 'submitError' | translate"
         *ngIf="submitError">
    </div>

    <button type="submit"
            class="btn btn-primary pointer">
        <span [innerHTML]="i18NPrefix + 'submit' | translate"></span>
        <i class="fa fa-spinner fa-spin"
           *ngIf="submitting"></i>
    </button>
    <button type="button"
            class="btn btn-secondary pointer"
            (click)="onClose()">
        <span [innerHTML]="i18NPrefix + 'cancel' | translate"></span>
    </button>
</form>
